input,
textarea {
    font: 400 18px 'Bebas Neue';
    padding: 5px 8px;
    display: block;
    color: #535353;
}

.fofm {
    height: 100%;
    padding-top: 6.055%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed;
    cursor: default;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.popup,
.popup2 {
   font-family: 'Bebas Neue';
    color: #535353;
    width: 466px;
    height: 578px;
    display: inline-block;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 339em;
    background: rgb(255, 255, 255);
    text-align: justify;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.fofm .req:invalid {
    outline: none;
    border: 1px solid red;
    box-shadow: inset 0 0 10px red;
}

::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

::-ms-input-placeholder {
    color: rgb(255, 255, 255);
}

.fofm .req::-webkit-input-placeholder {
    color: #dc7f7f;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}

.fofm .req:-ms-input-placeholder {
    color: #dc7f7f;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}

.fofm .req::-ms-input-placeholder {
   
    color: #dc7f7f;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}


.fofm .req:valid {
    border: 1px solid #c3c3c3;
}

.popup form h5 {
    margin-bottom: 8.37%;
    color: #535353;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.popup p {
    text-align: center;
    font-weight: 800;
    line-height: 2;
}

.popup form input:not(.button) {
    width: 72.7467%;
    height: 6.92%;
    margin: 0 auto;
    margin-bottom: 1.504%;
    border: 1px solid #c3c3c3;
}


.popup form textarea {
    margin: 0 auto;
    width: 72.7467%;
    height: 24.22%;
    resize: none;
    border: 1px solid #c3c3c3;

}

.button {

    display: block;
    background: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
    width: 128px;
    height: 42px;
    margin: 22px auto 0;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
}

.button:disabled {
    opacity: .3;
}

.popup .close_modal {
    font-family: 'Times New Roman';
    position: absolute;
    top: -27px;
    right: -27px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(118, 118, 118);
    text-align: center;
    font-size: 35px;
    font-weight: 50;
    line-height: .8;

}



.popup2 .window {
    right: 0;
    width: 300px;
    background: #fff;
    padding: 0 27px 27px;

}

.popup2 .close_modal {
    position: absolute;
    top: 0px;
    right: -45px;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-size: 1.1em;
}

.popup2 h5 {
    padding: 1em 0.5em;
    text-align: center;
    font-size: 1.5em;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.popup2 p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.popup2 p strong {
    font-size: 1em;
    line-height: 30px;
    font-weight: normal;
    display: block;
}
